<RunSettings>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura</Format>
                    <ExcludeByFile>..\Microsoft.NET.Test.Sdk.Program.cs</ExcludeByFile>
                    <!--<Exclude>[*Testing*]*</Exclude>  [Assembly-Filter]Type-Filter -->
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>

